@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


@media screen and (max-width: 767px) {

    label  {
        display: none;
    }

    #img-container {
        width: 100vw;
        height: 50vh;
        display: none;
        color: white;
    }    

    #form-container {
        width: 100vw;
        height: 100vh;
        background-color: white;
    }

    #logo-container {
        text-align: center;
        width: 300px;
        height: 300px;
        display: none;
        justify-content: center;
        align-items: end;
        color: black;
    }
    
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        color: black;
        width: 330px;
        height: 300px;
    }

    #firstnameinput,  #lastnameinput {
        width: 150px;
        height: 34px;
    }
    
    #firstnameinput {
    }
    
    #emailinput {
        width: 300px;
        height: 34px;
    }
    
    #inputdate {
        width: 139px;
        height: 34px;
    }
    
    #passwordinput {
        width: 170px;
        height: 34px;    
        border: 1px solid grey;
    }
    
    #subtmitbottom {
        width: 215px;
        height: 41px;
        margin-left: 59px;
        margin-top: 5px;
        margin-right: 30px;
        display: inline-block;
        border: 0;
        background-color: #1A24D9;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.018) 1px 1px 13px;
        font-weight: 600;
    }
    
    #notifications, #iagree {
        width: 16px;
        height: 18px;        
        margin-left: 50px;
        margin-top: 10px;
    }

    #h1phone {
        display: inline-block;
        font-size: 2em;
        font-family: 'Rubik', 'sans-serif';
        text-shadow: rgba(0, 0, 0, 0.105) 1px 1px 13px;
        margin-bottom: 20px;
        color: black;
        font-weight: 500;

    }

}